@import "tailwindcss";
body {
  margin: 0;
  position: relative;
  height: 100vh;
  overflow: hidden;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: url("https://images.unsplash.com/photo-1448375240586-882707db888b?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
    center/cover no-repeat;
  filter: blur(2.2px);
  z-index: -1;
}
.signup-card {
  margin: 100px auto;
  width: 700px;
  height: auto;
  border: none;
  background-color: #a6c3b5;
  border-radius: 18px;
}
h2 {
  font-size: 34px;
}
input {
  background-color: #e5f5ea;
  color: #145a32;
}
.form-box {
  padding: 5px 20px;
  border-radius: 12px;
}
.btn-sign-up {
  color: white;
  background-color: #479254;
  margin-bottom: 10px;
}
.btn-sign-up:hover{
  background-color: #397543;
}
