@import "tailwindcss";
body {
  margin: 0;
  position: relative;
  height: 100vh;
  overflow: hidden;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: url("https://images.unsplash.com/photo-1448375240586-882707db888b?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
    center/cover no-repeat;
  filter: blur(2.2px);
  z-index: -1;
}
.login-card {
  margin: 100px auto;
  width: 700px;
  height: 400px;
  border: none;
}
.img-box {
  background:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://images.unsplash.com/photo-1446483050676-bd2fdf3ac2d6?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
}
h2 {
  font-size: 32px;
  font-weight: 800;
}
.context-box {
  padding-top: 100px;
  background-color: #a6c3b5;
}
.form-box {
  padding: 5px 20px;
  border-radius: 12px;
}
input {
  background-color: #e5f5ea;
  color: #145a32;
}
.btn-sign-in {
  color: white;
  background-color: #479254;
  margin-bottom: 10px;
}
.btn-sign-in:hover{
  background-color: #397543;
}
